In [2]:
# ! pip install qeds

In [4]:
import pandas as pd
import numpy as np

## So What is this Index?

The index is the "row labels" for the data

An index in pandas does much more than label the rows

In [5]:
url = "https://storage.googleapis.com/qeds/data/wdi_data.csv"
df = pd.read_csv(url)
df.info()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
country        72 non-null object
year           72 non-null int64
GovExpend      72 non-null float64
Consumption    72 non-null float64
Exports        72 non-null float64
Imports        72 non-null float64
GDP            72 non-null float64
dtypes: float64(5), int64(1), object(1)
memory usage: 4.0+ KB

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
1  Canada  2016   0.364899     1.058426  0.576394  0.575775  1.814016
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [6]:
df_small=df.head(5)
df_small

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
1  Canada  2016   0.364899     1.058426  0.576394  0.575775  1.814016
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [7]:
df_tiny=df.iloc[[0,3,2,4],:]
df_tiny

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [8]:
im_ex=df_small[["Imports","Exports"]]
im_ex_copy=im_ex.copy()
im_ex_copy

    Imports   Exports
0  0.600031  0.582831
1  0.575775  0.576394
2  0.575793  0.568859
3  0.572344  0.550323
4  0.558636  0.518040

In [9]:
im_ex+im_ex_copy

    Imports   Exports
0  1.200063  1.165661
1  1.151550  1.152787
2  1.151585  1.137718
3  1.144688  1.100646
4  1.117272  1.036081

In [10]:
df_tiny

  country  year  GovExpend  Consumption   Exports   Imports       GDP
0  Canada  2017   0.372665     1.095475  0.582831  0.600031  1.868164
3  Canada  2014   0.353485     1.011988  0.550323  0.572344  1.782252
2  Canada  2015   0.358303     1.035208  0.568859  0.575793  1.794270
4  Canada  2013   0.351541     0.986400  0.518040  0.558636  1.732714

In [11]:
im_ex_tiny=df_tiny+im_ex

In [12]:
im_ex_tiny

   Consumption   Exports  GDP  GovExpend   Imports country  year
0          NaN  1.165661  NaN        NaN  1.200063     NaN   NaN
1          NaN       NaN  NaN        NaN       NaN     NaN   NaN
2          NaN  1.137718  NaN        NaN  1.151585     NaN   NaN
3          NaN  1.100646  NaN        NaN  1.144688     NaN   NaN
4          NaN  1.036081  NaN        NaN  1.117272     NaN   NaN

### Automatic Alignment


For all (row, column) combinations that appear in both DataFrames (e.g.
rows `[1, 3]` and columns `[Imports, Exports]`), the value of `im_ex_tiny`
is equal to `df_tiny.loc[row, col] + im_ex.loc[row, col]`.

This happened even though the rows and columns were not in the same
order.

We refer to this as pandas *aligning* the data for us.

To see how awesome this is, think about how to do something similar in
Excel:

- `df_tiny` and `im_ex` would be in different sheets.  
- The index and column names would be the first column and row in each
  sheet.  
- We would have a third sheet to hold the sum.  
- For each label in the first row and column of *either* the `df_tiny`
  sheet or the `im_ex` sheet we would have to do a `IFELSE` to check
  if the label exists in the other sheet and then a `VLOOKUP` to
  extract the value.  


In pandas, this happens automatically, behind the scenes, and *very
quickly*.

## Setting the Index

For a DataFrame `df`, the `df.set_index` method allows us to use one (or more) of the DataFrame's as the index

In [13]:
# first, create the DataFrame
df_year=df.set_index(["year"])
df_year.head()

     country  GovExpend  Consumption   Exports   Imports       GDP
year
2017  Canada   0.372665     1.095475  0.582831  0.600031  1.868164
2016  Canada   0.364899     1.058426  0.576394  0.575775  1.814016
2015  Canada   0.358303     1.035208  0.568859  0.575793  1.794270
2014  Canada   0.353485     1.011988  0.550323  0.572344  1.782252
2013  Canada   0.351541     0.986400  0.518040  0.558636  1.732714

In [14]:
df_year.loc[2010]

             country  GovExpend  Consumption   Exports   Imports        GDP
year
2010          Canada   0.347332     0.921952  0.469949  0.500341   1.613543
2010         Germany   0.653386     1.915481  1.443735  1.266126   3.417095
2010  United Kingdom   0.521146     1.598563  0.690824  0.745065   2.452900
2010   United States   2.510143    10.185836  1.846280  2.360183  14.992053

In [15]:
df_year.loc[2009].mean()-df_year.loc[2008].mean()

GovExpend      0.033317
Consumption   -0.042998
Exports       -0.121425
Imports       -0.140042
GDP           -0.182610
dtype: float64

In [16]:
df_year.loc[df_year["country"]=="United States","GDP"].loc[2010]

14.992052727

In [17]:
df_year.loc[df_year["country"].isin(["United Kingdom","Germany"]),"GDP"].loc[2010]

year
2010    3.417095
2010    2.452900
Name: GDP, dtype: float64

In [18]:
df_year.loc[2010]

             country  GovExpend  Consumption   Exports   Imports        GDP
year
2010          Canada   0.347332     0.921952  0.469949  0.500341   1.613543
2010         Germany   0.653386     1.915481  1.443735  1.266126   3.417095
2010  United Kingdom   0.521146     1.598563  0.690824  0.745065   2.452900
2010   United States   2.510143    10.185836  1.846280  2.360183  14.992053

Setting just the year as index has one more potential issue: we will
get data alignment only on the year, which may not be sufficient.

To demonstrate this point, suppose now you are asked to use our WDI dataset
to compute an approximation for net exports and investment in in 2009.

As a seasoned economist, you would remember the expenditure formula for GDP is
written

$$
GDP = Consumption + Investment + GovExpend + Net Exports
$$

which we can rearrange to compute investment as a function of the variables in
our DataFrame…

$$
Investment = GDP - Consumption - GovExpend - Net Exports
$$

Note that we can compute NetExports as `Exports - Imports`.

In [19]:
nx=df_year["Exports"]-df_year["Imports"]
nx.head(19)

year
2017   -0.017201
2016    0.000619
2015   -0.006934
2014   -0.022021
2013   -0.040596
2012   -0.041787
2011   -0.035878
2010   -0.030393
2009    0.000896
2008    0.004068
2007    0.032451
2006    0.053530
2005    0.072729
2004    0.091902
2003    0.097794
2002    0.121850
2001    0.122673
2000    0.118702
2017    0.264214
dtype: float64